<div class="page-header">
    <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>
    <a href="index.html" class="d-lg-none d-md-block">
      <img src="assets/images/logo.svg" class="logo-sm" alt="Bootstrap Gallery">
    </a>
<h2 style="font-size: 30px;">Kinetic MD</h2>
    <div class="header-actions-container">
      <ul class="header-actions">
        <li class="dropdown d-none d-md-block">

        </li>
        <li class="dropdown" style="max-width:300px;">
          <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true">
            <span style="max-width:300px;" class="user-name d-none d-md-block">Operator Phone: {{ operator_phone }}</span>
          </a>
        </li>
      </ul>
      <!-- Header actions end -->
  </div>
</div>
@if (call_alert_open=='Y') {
  <div class="row">
    <div class="card m-3">
      <div class="card-header">
        <h1>Call Alert - {{ message.practice }}</h1>
      </div>
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-1">Caller Id:</div>
              <div class="col-5">{{ message!.from }}</div>
              <div class="col-1">Relationship:</div>
              <div class="col-5">{{ message!.relationship }}</div>
            </div>
            <div class="row">
              <div class="col-1">Caller:</div>
              <div class="col-5">{{ message!.member_name }}</div>
            </div>
            <div class="row">
              <div class="col-1">Notes:</div>
              <div class="col-5">{{ message!.dsc }}</div>
            </div>
          </div>
        </div>
        <button (click)="toggleCallAlert()" class="btn btn-primary">Close</button>
      </div>
    </div>
  </div> 
}
