<div class="page-header" style="padding-bottom:0px">
    <div class="toggle-sidebar" id="toggle-sidebar"><i class="bi bi-list"></i></div>
    <a href="index.html" class="d-lg-none d-md-block">
      <img src="assets/images/logo.svg" class="logo-sm" alt="Bootstrap Gallery">
    </a>
<h2 style="font-size: 30px;">Kinetic MD</h2>
    <div class="header-actions-container" style="max-width:800px!important;">
        <ul class="header-actions" style="max-width: 800px!important;">
          <li class="dropdown d-none d-md-block">
            @if(online=='Y') {
              <a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
                <img src="assets/images/flags/1x1/online.png" class="flag-img" alt="Admin Panels">
              </a>              
            }
            @if(online=='B') {
              <a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
                <img src="assets/images/flags/1x1/busy.png" class="flag-img" alt="Admin Panels">
              </a>              
            }
            @if(online=='N') {
              <a href="#" id="countries" data-toggle="dropdown" aria-haspopup="true">
                <img src="assets/images/flags/1x1/offline.png" class="flag-img" alt="Admin Panels">
              </a>              
            }
            <div class="dropdown-menu dropdown-menu-end mini" aria-labelledby="countries">
              <div class="country-container">
                <a (click)="setOnline()">
                  <img src="assets/images/flags/1x1/online.png">
                </a>
                <a (click)="setBusy()">
                  <img src="assets/images/flags/1x1/busy.png">
                </a>
                <a (click)="setOffline()">
                  <img src="assets/images/flags/1x1/offline.png">
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown" style="max-width:800px!important;">
            <a href="#" id="userSettings" class="user-settings" data-toggle="dropdown" aria-haspopup="true"  style="max-width:800px!important;">
                  <span class="user-name d-none d-md-block">Operator Phone: <span id="userId">{{ operator_phone }}</span></span>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userSettings">
              <div class="header-profile-actions">
                <a href="#">Settings</a>
                <a href="#" (click)="doConnect()">Connect</a>
                <a href="#" (click)="doDisconnect()">Disconnect</a>
                <a href="#" (click)="postLogout();">Logout</a>
              </div>
            </div>
          <li>
            <button class="ms-2 btn btn-primary"><i (click)="doQueue()" style="border: 0px; border-bottom-width: 0px;" class="bi bi-telephone"></i></button>
            <!-- <input type="text" id="userId">
            <button onClick="initializeTwilioClient()">Login</button><button onClick="logout()">Loging</button> 
            <button onClick="makeCall()" id="call-button">Make Call</button>
            <button onClick="hangUpCall()" id="hangup-button">Hang up</button>
            <div id="incoming-call" style="display:none;">
            <button onclick="rejectCall()">Reject</button> 
            </div> -->
          </li>
        </ul>
      <!-- Header actions end -->
  </div>
</div>
<!--
<div class="row p-1">
  <input type="text" [(ngModel)]="message" (keydown.enter)="postSkipper()" class="form-control">
</div>
-->
@if (call_alert_open=='Y') {
  <div class="row p-1" style="width: 99%; background-color: indianred;">
    <div class="card col-12 mt-2 mb-2 ms-2" style="width:99%;">
      <div class="card-header">
        <h1 style="font-size:24px;">Call Alert - {{ message.practice }}</h1>
      </div>
      <div class="card-body">
      @if (live=='N') {
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-2">Caller Id:</div>
              <div class="col-5">{{ message!.from }}</div>
              <div class="col-2">Relationship:</div>
              <div class="col-5">{{ message!.relationship }}</div>
            </div>
            <div class="row">
              <div class="row">
                <div class="col-2">First:</div>
                <div class="col-5">{{ message!.first_name }}</div>
                <div class="col-2">Last:</div>
                <div class="col-5">{{ message!.last_name }}</div>
              </div>
              <div class="col-2">Caller:</div>
              <div class="col-5">{{ message!.member_name }}</div>
            </div>
            <div class="row">
              <div class="col-2">Notes:</div>
              <div class="col-5">{{ message!.dsc }}</div>
            </div>
          </div>
        </div> 
        <button class="btn btn-danger" (click)="answerCall()">Answer</button>
        <button (click)="toggleCallAlert()" class="btn btn-primary m-2">Close</button>
      }
      </div>
      @if (live=='Y') {
        <app-call-dashboard [ParentSid]="ParentSid" [id]="caller"></app-call-dashboard>
        <button (click)="toggleCallAlert()" class="btn btn-primary m-2">Close</button>
      }
    </div>
  </div>  
}
